:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --primary-color-rgba: rgb(238, 77, 45);
    --navbar-height: 32px;
    --header-height: 120px;
    --sort-bar-height: 46px;
    --star-gold-color: #FFCE3E;
    --header-width-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 2.4rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Responsive */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.grid__column-2{
    width: 16.66667%;
    padding: 0 5px;
}   

.grid__column-2-4{
    width: 20%;
    padding: 0 5px;
}

.grid__column-10{
    width: 83.33333%;
    padding: 0 5px;
}

/* Button Style */

.btn {
    height: 34px;
    min-width: 124px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn--normal{
    background-color: var(--white-color);
}

.btn.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    background-color: #999;
    color: #ccc;
}


.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
}


/* Ô Selection */

.select-input{
    height: 34px;
    min-width: 200px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    color: rgb(131,131,131);
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 10px 16px;
    list-style: none;
    display: none;
    box-shadow: 0 0 1px #666;
}

.select-input__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover{
    color: var(--primary-color);
}

.select-input:hover{
    cursor: pointer;
}

/* Pagination Bottom */

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item__link{
    --height: 30px;
    display: block;
    text-align: center;
    line-height: var(--height);
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    font-size: 1.8rem;
    border-radius: 2px;
}

.current-page{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.current-page:hover{
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    opacity: 0.9;
}

.pagination-item__link:hover{
    color: var(--primary-color);
}
