.shop-push{
    margin-top: 20px;
}

.shop-pull{
    margin-top: 10px;
}

.highlight{
    color: var(--primary-color);
}

.shop__btn.btn {
    color: #377DA6;
}


.highlight-border{
    border-color:white;
}

.box_product{
    display: flex;
    justify-content: center;
}

.box_product_shop{
    width: 190px;
    height: 100%;
}



